# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv
.venv/
ENV/
*.egg-info/
dist/
build/
private.pem
public.pem

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
/k8s/secrets.yaml
/k8s
#Clade
.claude/skills
.claude
#Terraform
/terraform
/terraform/terraform.tfvars
/terraform/terraform.tfstate
/terraform/.terraform.tfstate.lock.info
/terraform/.terraform.lock.hcl

